/* common variables */
:root{
    --quacs-yellow: #f5b53f;
    --quacs-midtone: #f5cc81;
    --quacs-white: #f5e3c2;
    --quacs-whitest: #fdf8f0;

    --deepest-purple: #12121a;
    --deeper-purple: #191823;
    --deep-purple: #201f2c;
    --mid-dark-purple: #2c2b3d;
    --mid-purple: #37364d;
    --mid-light-purple: #494766;
    --light-purple: #5c5980;

    --pink: #f53faa;
    --red: #f53f6a;
    --green: #3ff57f;
    --blue: #3f6ef5;
}

body{
    background-color: var(--deep-purple);
    overflow-x:hidden;
}

::selection{
    background: var(--mid-light-purple);
}

.hidden{
    visibility: hidden;
    margin: 0;
    height: 0vw;
}

svg {
    overflow: visible;
}

span {
    display: contents;
}

/* TEXT */
h1, h1 a {
    color: var(--quacs-yellow);
    font-family: "proxima-nova";
    font-weight: 900;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    position: relative;
}

p {
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 3vmin;
}

p a, p svg{
    color: var(--quacs-midtone);
    fill: var(--quacs-midtone);
    height: 4vmin;
    vertical-align: bottom;
    display: inline-block;
}

p a:hover, p a:hover svg {
    color: var(--quacs-yellow);
    fill: var(--quacs-yellow);
}

/* HEADER */
#qlog-header{
    border-bottom: 0.2vmin solid var(--quacs-yellow);
    width: 100%;
    height: 5vmin;
}

#qlog-wordmark {
    font-family: "rivalsans";
    font-size: 3.5vmin;
    position: absolute;
    text-decoration: none;
}

#header-search {
    max-height: 4vmin;
    position: absolute;
    display: block;
    right: 1vmin;
    font-size: 2vmin;
    padding: .5%;
}

input[type="text"] {
    background: var(--quacs-white);
    border-radius: 100vw;
    border: none;
    outline:none;
    font-family: "proxima-nova";
    color: var(--deep-purple);
    caret-color: var(--deep-purple);

}


/* 
d88888b  .d88b.  d8b   db d888888b .d8888.
88'     .8P  Y8. 888o  88 `~~88~~' 88'  YP
88ooo   88    88 88V8o 88    88    `8bo.
88~~~   88    88 88 V8o88    88      `Y8b.
88      `8b  d8' 88  V888    88    db   8D
YP       `Y88P'  VP   V8P    YP    `8888Y'
 */

@font-face{
    font-family: "rivalsans";
    src: url("./fonts/rivalsans-regular.otf");
}
@font-face{
    font-family: "rivalsans";
    src: url("./fonts/rivalsans-bold.otf");
    font-weight: 700;
}
@font-face{
    font-family: "rivalsans";
    src: url("./fonts/rivalsans-extrabold.otf");
    font-weight: 800;
}
@font-face{
    font-family: "rivalsans";
    src: url("./fonts/rivalsans-black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "proxima-nova";
    src: url("./fonts/Proxima-Nova-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "proxima-nova";
    src: url("./fonts/Proxima-Nova-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "proxima-nova";
    src: url("./fonts/Proxima-Nova-Extrabold.otf");
    font-weight: 800;
}

@font-face {
    font-family: "proxima-nova";
    src: url("./fonts/Proxima-Nova-Thin.otf");
    font-weight: 200;
}

@font-face {
    font-family: "proxima-nova";
    src: url("./fonts/Proxima-Nova-Regular.otf");
}
