body{
    background-color: var(--deep-purple);
    overflow-x:hidden;
}

.term ::selection{
    background: var(--quacs-yellow);
}

/*
db   db d88888b  .d8b.  d8888b. d88888b d8888b.
88   88 88'     d8' `8b 88  `8D 88'     88  `8D
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY'
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b
88   88 88.     88   88 88  .8D 88.     88 `88.
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD
*/


#course-info-container{
    position:absolute;
    top: 7vmin;
    width: 47vw;
    left: 2vmin;
    height: 90vmin;
}


#cname{
    color: var(--quacs-yellow);
    font-family: "proxima-nova";
    font-size: 8vmin;
    font-weight: 900;
    margin-bottom: 0vmin;
    position: relative;
    left: 0vw;
}

#ccode{
    color: var(--quacs-midtone);
    font-family: "proxima-nova";
    font-size: 4vmin;
    font-weight: 900;
    position: relative;
    left: 0vw;
}

#cdesc{
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 3vmin;
    position: relative;
    left: 0vw;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    font-weight: normal;
}

#cattrs-container{
    position: relative;
    left: 0vw;
    margin-bottom: 1vmin;
}

.attr-pill{
    color: var(--deep-purple);
    font-family: "proxima-nova";
    font-size: 2vmin;
    position: relative;
    left: 0vw;
    background: var(--quacs-midtone);
    border-radius: 2vmin;
    padding: 0.5vmin 1.5vmin;
    margin-right: 0.5vmin;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5vmin;
}

.rel-info-container{
    margin-bottom: 1.25vmin;
}

.rel-info-title{
    font-size: 3vmin;
    font-weight: 700;
    font-family: "proxima-nova";
    color: var(--quacs-white);
    /* display: inline-block; */ 
    margin-right: 0.5vmin;
}

.rel-info-courses{
    margin-top: 0.5vmin;
}

.course-pill{
    color: var(--deep-purple);
    font-family: "proxima-nova";
    font-size: 2vmin;
    position: relative;
    left: 0vw;
    background: var(--quacs-yellow);
    border-radius: 2vmin;
    padding: 0.5vmin 1.5vmin;
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5vmin;
    margin-bottom: 0.5vmin;
    text-decoration: none;
    transition-property: filter;
    transition-duration: 100ms;
    width: fit-content;
    /* white-space: nowrap; */
}

.course-pill:hover{
    filter: brightness(1.1);
}

#prereq-classes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: content;
}

.pr-or-con{
    background: var(--blue);
    display:grid;
    grid-auto-flow: row;
    height: fit-content;
    width: fit-content;
    padding: 0.5vmin;
    display: inline-block;
    border-radius: 2vmin;
    margin-bottom: 0.75vw;
}

.pr-or-title{
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 3vmin;
    font-weight: 700;
    margin-bottom: 0.5vmin;
    text-align: center;
}

.pr-or{
    background: var(--deep-purple);
    padding: 1vmin;
    border-radius: 1.5vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: max-content;
    width: fit-content;
}

.pr-or .course-pill{
    margin-right: 0.25vmin;
    margin-left: 0.25vmin;
    margin-bottom: 0.25vmin;
    margin-top: 0.25vmin
}

.pr-and{
    display: inline;
    margin-left: 0.75vmin;
    margin-right: 0.75vmin;
    color: var(--quacs-white);
    background: var(--red);
    padding: 1vmin;
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 3vmin;
    font-weight: 700;
    width: min-content;
    height: min-content;
    border-radius: 0.75vmin;
    margin-bottom: 0.75vw;
}

.none-rect{
    background: var(--red);
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 2vmin;
    position: relative;
    left: 0vw;
    border-radius: 0.5vmin;
    padding: 0.5vmin 1.5vmin;
    margin-right: 0.5vmin;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5vmin;
}

.unknown-rect{
    background: var(--pink);
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 2vmin;
    position: relative;
    left: 0vw;
    border-radius: 0.5vmin;
    padding: 0.5vmin 1.5vmin;
    margin-right: 0.5vmin;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5vmin;
}

#past-container{
    position: absolute;
    top: 7vmin;
    width: 47.5vw;
    left: 50vw;
    height: 90vmin;
    justify-content: right;
}

#past-title{
    color: var(--quacs-yellow);
    font-family: "proxima-nova";
    font-size: 6vmin;
    font-weight: 900;
    margin-bottom: 0vmin;
    position: relative;
    right: 0vmin;
    text-align: right;
    width: 100%;
    white-space: nowrap;
}

#opt-container{
    left: 6.875vmin;
    /* right: 0; */
    width: calc(47.5vw - 6.9vmin);
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: 50% 48%;
    justify-content: space-between;
    margin-bottom: 1vmin;
}

#key-panel{
    /* background: var(--blue); */
    width: 100%;
    display:flex;
    /* left: 6vmin; */
    left: 0;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /* text-align: right; */
}

.key-code{
    font-size: 2.2vmin;
    color: var(--quacs-midtone);
    font-family: 'proxima-nova';
}

.code-icon svg{
    width: 1.75vmin;
    text-align: justify!important;
    vertical-align: bottom;
    display: inline-block;
    padding-bottom: 0.5vmin;
    padding-right: 0vmin;
    overflow: visible;
}

#yes-code-icon svg{
    fill: var(--green);
}
#no-code-icon svg{
    fill: var(--red);
}
#diff-code-icon svg{
    fill: var(--quacs-yellow);
}
#nil-code-icon svg{
    fill: var(--mid-light-purple);
}

#control-panel{
    /* background: var(--red); */
    width: 100%;
    display:flex;
    flex-direction: column;
}

.view-option-label{
    font-size: 2.2vmin;
    color: var(--quacs-midtone);
    font-family: 'proxima-nova';
    cursor:pointer;
    transition: color .1s;
}

.view-option-input{
    accent-color: var(--quacs-midtone);
    display: none;
    position: absolute;
    pointer-events: none;
}

.view-option-input:hover{
    accent-color: var(--quacs-yellow);
}

.view-icon svg{
    width: 1.75vmin;
    text-align: justify!important;
    vertical-align: bottom;
    display: inline-block;
    padding-bottom: 0.5vmin;
    padding-right: 0vmin;
    overflow: visible;
    fill: var(--quacs-midtone);
    transition: fill .1s;
}

label.checked .view-icon svg{
    fill: var(--quacs-yellow);
}

label.checked{
    color: var(--quacs-yellow);
}

#years-table{
    /* margin-top: 1vmin; */
    position: relative;
    left: 0vw;
    width: 100%;
    border-spacing: 0.25vmin;
    /* padding-left: 0.25vmin;
    padding-right: 0.25vmin; */
    border-width: 0;
}

.term{
    color: var(--deep-purple);
    font-family: "proxima-nova";
    font-size: 1.5vmin;
    width: fit-content;
    /* word-break: break-all; */
}

.simple-view-container svg{
    fill: var(--mid-dark-purple);
    width: 5vmin;
    margin: 0.5vmin;
    height: auto;
    padding: 0.5vmin;
}

.simple-view-container{
    display: flex;
    justify-content: center;
}

.season-label{
    color: var(--quacs-midtone);
    font-family: "proxima-nova";
    font-size: 3vmin;
}

.midsum-label{
    color: var(--quacs-white);
    font-family: "proxima-nova";
    font-size: 2vmin;
    white-space: break-spaces;
}

.year{
    color: var(--quacs-midtone);
    font-family: "proxima-nova";
    font-size: 2vmin;
    text-align: left;
    width: 6vmin;
}

.term li{
    position: relative;
    left: -2vmin;
    word-break: break-word;
    hyphens: auto;
}


.offered {
    background-color: var(--green);
}
.offered-diff-code {
    background-color: var(--quacs-yellow);
}
.not-offered {
    background-color: var(--red);
}
.unscheduled {
    background-color: var(--mid-light-purple);
}



@media (max-aspect-ratio: 1.25/1){

    #course-info-container{
        position:relative;
        top: 7vmin;
        width: 90vw;
        left: 5vmin;
        height: max-content;
        /* margin-bottom: 20vmin; */
    }

    #past-container{
        position: relative;
        top: 7vmin;
        width: 90vw;
        left: 5vw;
        height: 90vmin;
        /* justify-content: right; */
        justify-content: center;
    }

    #past-title{
        text-align: center;
    }

    #opt-container{
        width: calc(90vw - 6.9vmin);
    }
}
