#home-title{
    font-family: "rivalsans";
    text-align: center;
    font-size: 18vmin;
    top: 10vmin;
}

#home-search{
    height: 3vmin;
    font-size: 6vmin;
    margin: 15vmin auto;
    width: 50vmin;
    display: block;
    padding: 1.5%;
}

#home-footer { text-align: center; }

/* @media only screen and (min-width: 600px) {
    #home-title{
        font-size: 5vw;
    }
} */

