body{
    background-color: var(--deep-purple);
    overflow-x:hidden;
}

#searchTitle{
    font-size: 5vmin;
    font-family: "proxima-nova";
    position: absolute;
    width: 100vw;
    height: 6vmin;
    left: 0vw;
    text-align: center;
    top: 9vmin;
    color: var(--quacs-yellow);
}

#searchTerm{
    color: var(--quacs-midtone);
}

#searchResultsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 19vmin;
}

.courseContainer{
    width: 70vw;
    background: var(--mid-dark-purple);
    margin-bottom: 2vmin;
    color: var(--quacs-white);
    font-family: 'proxima-nova';
    cursor: pointer;
    border-radius: 2vmin;
    position: relative;
    transition: width 0.1s, background 0.1s, border-radius 0.1s;
    display: flex;
    flex-direction: column;
    /* border-bottom: solid 1vmin var(--mid-purple); */
}

.courseContainer:hover{
    background: var(--mid-purple);
    /* border-bottom: solid 1vmin var(--mid-light-purple); */
    width: 71vw;
    border-radius: calc(2vmin + 0.5vw);
}

.courseContainer:hover .courseShelf{
    padding-left: calc(1vmin + 0.5vw);
}

.courseShelf{
    padding: 1vmin;
    transition: padding .1s;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* width: 100%; */
    font-size: 3vmin;
    color: var(--quacs-midtone);
    border-bottom: solid;
    border-bottom-width: 0.2vmin;
    flex-wrap: wrap;
}

.sattr{
    margin-right: 1vmin;
    display: flex;
    margin-bottom: 0.25vmin;
    margin-top: 0.25vmin;
}

.sattr-pill{
    background: var(--quacs-yellow);
    color: var(--deep-purple);
    padding-left: 1.5vmin;
    padding-right: 1.5vmin;
    border-radius: 3vmin;
}

.sattr svg{
    /* display: inline-block; */
    /* vertical-align:-webkit-baseline-middle; */
    align-self: center;
    width: 2.5vmin;
    /* max-height: 3vmin; */
    padding-left: 0.5vmin;
    fill: var(--deep-purple);
}

.CI-pill{
    background: var(--green);
}

.WI-pill{
    background: var(--quacs-yellow);
}

.PD-pill{
    background: var(--red);
}

.HI-pill{
    background: var(--pink);
    color: var(--deep-purple);
}

.HI-pill svg{
    fill: var(--deep-purple);
}

.courseName{
    color: var(--quacs-yellow);
    font-size: 3.25vmin;
    font-weight: 600;
    margin-left: 0.5vmin;
}

.courseCode{
    color: var(--quacs-midtone);
}

.description{
    padding: 1.5vmin;
    transition: padding .1s;
    font-size: 2.5vmin;
}

.courseContainer:hover .description{
    padding-left: calc(1.5vmin + 0.5vw);
    padding-right: calc(1.5vmin + 0.5vw);
}

@media (orientation: portrait){
    .courseContainer{
        width: 90vw;
    }
    .courseContainer:hover{
        width: 91vw;
    }
}