ul, ol, h1, h2, h3, h4, h5, h6 {
	margin-top: 0pt;
	margin-bottom: 0pt;
}

h1, h2, h3, h4, h5, h6 {
	display: inline;
}

#years-table,
.term {
	border: 1px solid black;
	height: 18pt;
	vertical-align: top;
}

.offered {
	background-color: lime;
}

.offered-diff-code {
	background-color: yellow;
}

.not-offered {
	background-color: red;
}

.unscheduled {
	background-color: #444444;
}
